# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://dzetasyelroldcomtccu.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImR6ZXRhc3llbHJvbGRjb210Y2N1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzk3OTg3NjEsImV4cCI6MjA5NTM3NDc2MX0.DEYkG9J8VeIrF7B7OPIU1cMna_HKquhart82wvRk1rc
